# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.StoryWorkshop.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\jeffp\OneDrive\Documents\Workspaces\StoryWorkshop\.idea\.idea.StoryWorkshop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
